body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bigHover:hover{
  animation: largeIcon 0.5s linear forwards;
}

@keyframes largeIcon {
  100%{
    scale:1.3;
    translate: 20%;
    color:rgb(3, 153, 108)
  }
  
}